.about-container {
  @media (min-width: 576px) {
    margin: 10px 10px 0 10px;
  }
  @media (min-width: 768px) {
    margin: 10px 5rem 0 5rem;
  }
  @media (min-width: 992px) {
    margin: 10px 15rem 0 15rem;
  }
  @media (min-width: 1200px) {
    margin: 10px 15rem 0 15rem;
  }
  padding-bottom: 20px;
}

.mat-divider {
  padding: 10px;
}

.mat-display-1 {
  padding-bottom: 5px !important;
  margin-bottom: 5px !important;
}

/**
This is needed because the divider overhangs the cards otherwise.
 */
mat-divider {
  position: relative !important;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

mat-card-content {
  padding-bottom: 20px !important;
}
