@import "~@angular/material/theming";

@mixin custom-snackbar-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $text: map-get($foreground, text);
  $card: map-get($background, card);

  .custom-snack-bar {
    background: $card;
    color: $text;
  }

  .snack-bar-text {
    text-align: left !important;
  }

  .snack-bar-action {
    text-align: right !important;
  }

  .mat-icon {
    font-size: 24pt;
  }

  .snack-bar-spacer {
    flex: 1 1 auto;
  }
}
