@import "~@angular/material/theming";

@mixin custom-snackbar-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $text: map-get($foreground, text);
  $card: map-get($background, card);

  .mat-snack-bar-container {
    border: 1px solid mat-color($accent, 300) !important;
  }

  .custom-snack-bar {
    background: $card !important;
    color: $text !important;
  }

  .snack-bar-text {
    text-align: left !important;
    font-size: 20px;
  }

  .snack-bar-action {
    text-align: right !important;
  }

  .snack-bar-icon {
    font-size: 24pt !important;
  }

  .snack-bar-spacer {
    flex: 1 1 auto;
  }
}
