<mat-toolbar class="nav-main" color="primary">
  <button mat-button class="nav-home-link" routerLink="/">
    <mat-icon style="margin-top: -6px; margin-right: 2px">book</mat-icon>Augmented Criticism Lab
  </button>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button class="nav-item-link" routerLink="/browse" routerLinkActive="mat-accent">Browse</button>
    <button mat-button class="nav-item-link" routerLink="/search" routerLinkActive="mat-accent">Search</button>
    <button mat-button class="nav-item-link" routerLink="/tools" routerLinkActive="mat-accent">Tools</button>
    <button mat-button class="nav-item-link" routerLink="/about" routerLinkActive="mat-accent">About</button>
  </div>
  <span class="nav-spacer"></span>
  <button mat-raised-button color="accent" style="margin-right: 5px" [mat-menu-trigger-for]="userMenu">Login</button>
  <button mat-button [mat-menu-trigger-for]="collapseMenu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" #collapseMenu="matMenu">
  <button mat-menu-item routerLink="/browse" routerLinkActive="disabled">Browse</button>
  <button mat-menu-item routerLink="/search">Search</button>
  <button mat-menu-item routerLink="/tools">Tools</button>
  <button mat-menu-item routerLink="/about">About</button>
</mat-menu>
<mat-menu xPosition="before" #userMenu="matMenu">

</mat-menu>
