<mat-toolbar class="nav-main" color="primary">
  <!--Title button: this collapses to only show ACL when on a small screen-->
  <button class="nav-home-link" fxShow="false" fxShow.gt-xs mat-button routerLink="/">
    <mat-icon style="margin-top: -6px; margin-right: 2px">book</mat-icon>
    Augmented Criticism Lab
  </button>
  <button class="nav-home-link" fxHide="false" fxHide.gt-xs mat-button routerLink="/">
    <mat-icon style="margin-top: -6px; margin-right: 2px">book</mat-icon>
    ACL
  </button>

  <!--Primary menu-->
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button class="nav-item-link" mat-button routerLink="/browse" routerLinkActive="active nav-item-link-active">
      Browse
    </button>
    <button class="nav-item-link" mat-button routerLink="/search" routerLinkActive="active nav-item-link-active">
      Search
    </button>
    <button class="nav-item-link" mat-button routerLink="/tools" routerLinkActive="active nav-item-link-active">
      Tools
    </button>
    <button class="nav-item-link" mat-button routerLink="/about" routerLinkActive="active nav-item-link-active">
      About
    </button>
    <button (click)="gotoDocs()" class="nav-item-link" mat-button>
      API Documentation
      <mat-icon style="font-size: 10pt; align-self: start;">open_in_new</mat-icon>
    </button>
  </div>

  <!--Pushes everything to the right side.-->
  <span class="nav-spacer"></span>

  <!--Light / Dark Theme toggler-->
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px" fxShow="false" fxShow.gt-sm>
    <mat-slide-toggle (toggleChange)="toggleTheme()" [checked]="isDark" matTooltip="toggle dark mode">
    </mat-slide-toggle>
  </div>

  <mat-divider [vertical]="true" class="style-fix"></mat-divider>

  <!--Login / profile buttons-->
  <button (click)="login()" *ngIf="!auth.isAuthorized" color="primary" mat-stroked-button>
    LOGIN
  </button>
  <button *ngIf="auth.isAuthorized" [matMenuTriggerFor]="userMenu" color="primary" mat-stroked-button>
    {{auth.user.username}}
    <mat-icon style="padding-bottom: 4px">arrow_drop_down</mat-icon>
  </button>

  <!--Trigger for collapsed hamburger menu-->
  <button [mat-menu-trigger-for]="collapseMenu" fxHide="false" fxHide.gt-sm mat-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!--Collapsed menu for small screens-->
<mat-menu xPosition="before" #collapseMenu="matMenu">
  <button mat-menu-item routerLink="/browse" routerLinkActive="disabled">Browse</button>
  <button mat-menu-item routerLink="/search">Search</button>
  <button mat-menu-item routerLink="/tools">Tools</button>
  <button mat-menu-item routerLink="/about">About</button>
  <button mat-menu-item (click)="gotoDocs()">API Documentation</button>
</mat-menu>
<mat-menu xPosition="before" #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/profile', {outlets: {'profile-out': ['user-details']}}]">Profile</button>
  <button mat-menu-item [routerLink]="['/profile', {outlets: {'profile-out': ['add-item']}}]">Add Item</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="auth.logoff()">Logout</button>
</mat-menu>
