<div fxLayout="row" fxLayoutAlign="center start">
  <div class="jumbotron" fxFlex="1 1 80" fxFlex.sm="1 1 95%" fxFlex.xs="1 1 95%">
    <h1 class="mat-display-3">
      The Sonnet Database and Toolkit
    </h1>
    <h3 class="mat-h1">
      A Corpus of English Sonnets for Text Analysis
    </h3>
    <mat-divider></mat-divider>
    <p class="mat-body-1">
      Just what is a sonnet? Definitions have focused on its form: fourteen lines of rhymed pentameter. But early sonnet
      forms are more variable than that. So other definitions focus on its rhetoric, genre, or style: a first-person
      reflection with a volta or turn from problem to resolution.
    </p>
    <p class="mat-body-1">
      This project addresses the question by building a corpus of every English sonnet from the sixteenth century
      onward, in order to quantify their features through time. We offer a RESTful API interface for text analysis.
    </p>
  </div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px"
     style="margin: 10px">
  <mat-card fxFlex="1 1 30%" fxFlex.sm="1 1 70%" fxFlex.xs="1 1 80%">
    <mat-card-header>
      <div mat-card-avatar class="tei-header-image header-image-offset"></div>
      <mat-card-title>Text Encoding Initiative</mat-card-title>
      <mat-card-subtitle>Encoding <i>all</i> the texts.</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="mat-body-2">
        The Text Encoding Initiative (TEI) is a consortium which collectively develops and maintains a standard for
        the representation of texts in digital form. Its chief deliverable is a set of Guidelines which specify
        encoding methods for machine-readable texts, chiefly in the humanities, social sciences and linguistics.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
      <button mat-raised-button color="primary" (click)="tei()">TEI Website</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 30%" fxFlex.sm="1 1 80%" fxFlex.xs="1 1 90%">
    <mat-card-header>
      <div mat-card-avatar class="acl-header-image header-image-offset"></div>
      <mat-card-title>Augmented Criticism Lab</mat-card-title>
      <mat-card-subtitle>The vision and main contributors.</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="mat-body-2">
        The Augmented Criticism Lab is a digital initiative that investigates the relationship between computational
        literary studies and traditional philology. Building on theories of corpus linguistics, algorithmic criticism,
        and scalable reading, we strive for an augmented criticism—a brand of literary investigation that boasts a
        distinct blend of computational processes and artful introspection.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
      <button mat-raised-button color="primary" (click)="michaelsBlog()">Michael Ullyot</button>
      <button mat-raised-button color="primary" (click)="joshBlog()">Josh Harkema</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="1 1 30%" fxFlex.sm="1 1 80%" fxFlex.xs="1 1 90%">
    <mat-card-header>
      <div mat-card-avatar class="python-header-image header-image-offset"></div>
      <mat-card-title>Python Database Connector</mat-card-title>
      <mat-card-subtitle>Powering programmatic analysis.</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="mat-body-2">
        We provide and maintain a Python class for easily connecting to our database via the RESTful API. This
        class provides basic query functions and JSON object serialization. This allows a user to skip most of the
        data parsing and jump straight into NLTK or NLP analysis of the data.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
      <button mat-raised-button color="primary" (click)="pythonConnector()">GitLab Repository</button>
    </mat-card-actions>
  </mat-card>
</div>
<div style="padding: 25px">
  <mat-divider></mat-divider>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <h1 class="mat-display-1" style="margin-bottom: 2rem !important; text-align: center" fxFlex="1 1 80%"
      fxFlex.xs="1 1 90%">
    Explore the Collection: Two Poems at Random
  </h1>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="15px"
     style="margin: 10px; padding-bottom: 20px" *ngIf="randomPoems">
  <mat-card *ngFor="let poem of randomPoems" fxFlex="0 1 35%" fxFlex.md="0 1 45%" fxFlex.sm="1 1 70%"
            fxFlex.xs="1 1 80%">
    <mat-card-header>
      <mat-card-title>{{poem.title}}</mat-card-title>
      <mat-card-subtitle>{{poem.author.firstName}} {{poem.author.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="poem-text mat-body-2">{{poem.text}}</p>
      <mat-divider></mat-divider>
      <p class="mat-body-2">
        <b>Date added:</b> {{poem.createdDate | date}}<br>
        <b>Period of initial publication:</b> {{poem.period}}<br>
        <b>Title of source text:</b> {{poem.sourceTitle}}<br>
        <b>Publication date of source text:</b> {{poem.dateOfPublication | date}}<br>
      </p>
    </mat-card-content>
  </mat-card>
</div>
