@import "~@angular/material/theming";

@mixin footer-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $text: map-get($foreground, text);
  $card: map-get($background, card);

  /* Keep the footer at the bottom of the page, increase its height on mobile. */
  .footer {
    background-color: darken($card, 5);
    border-top: 1px solid mat-color($accent, 400);
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    @media (min-width: 576px) {
      height: 200px;
    }
    @media (min-width: 762px) {
      height: 130px;
    }
  }

  /* keep the elements tightly packed */
  .footer-content-container {
    padding: 0 !important;
    margin: 0 !important;
  }

  .footer-content-container .mat-body-2 {
    margin-bottom: 7px !important;
    margin-top: 7px !important;
    text-align: center !important;
  }

  .footer-img {
    max-height: 80px !important;
    @media (min-width: 922px) {
      margin: 0 5px 0 5px;
    }
  }
}
