<div class="footer" fxLayout="column" fxLayoutAlign="center center">
  <div class="footer-content-container">
    <p class="mat-body-2">The ACL's computing resources are generously provided by:</p>
  </div>
  <div class="footer-content-container" fxLayout="row" fxLayout.xs="column">
    <a href="https://www.computecanada.ca/" rel="noopener" target="_blank">
      <!-- the cc logo needs to change its text color for the light / dark versions of the theme -->
      <img *ngIf="root.themeClass.includes('light-theme')" alt="ComputeCanada Logo" class="footer-img"
           src="assets/img/cc-logo-light.png">
      <img *ngIf="root.themeClass.includes('dark-theme')" alt="ComputeCanada Logo" class="footer-img"
           src="assets/img/cc-logo-dark.png">
    </a>
    <a href="https://www.westgrid.ca/" rel="noopener" target="_blank">
      <img alt="WestGrid Logo" class="footer-img" src="assets/img/WG-Logo-Jan16-TranspBG.png">
    </a>
  </div>
</div>
