.container {
  min-height: calc(100vh - 301px);
  padding-top: 15px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card {
  min-width: 400px !important;
  max-width: calc(50vw - 225px) !important;
}

mat-icon {
  padding-left: 15px !important;
  margin-right: 10px !important;
}

.form-card {
  padding: 20px !important;
}

mat-form-field {
  min-width: 100% !important;
  padding-top: 25px !important;
}

textarea {
  min-width: 100% !important;
}

.confirmation-progress {
  max-width: 100%;
  width: 20rem !important;
  margin: 0 15px;
}

mat-progress-bar {
  height: 6px !important;
  margin: 5px 0 !important;
}

.no-margin {
  text-align: center !important;
  margin: 0 !important;
}

.action-bar .spacer {
  flex: 1 1 auto;
}

