table {
  width: 100%;
  padding: 0 5px 0 5px;
}

mat-card {
  position: absolute;
  top: calc(30vh);
  right: calc(44vw);
  justify-content: center;
  align-items: center;
}

mat-form-field {
  padding: 10px;
}
