<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a [routerLink]="['/profile', {outlets: {'profile-out': ['user-details']}}]" mat-list-item
         routerLinkActive="active sidebar-item-active">
        <mat-icon color="primary">account_box</mat-icon>
        <span>Profile</span>
      </a>
      <a [routerLink]="['/profile', {outlets: {'profile-out': ['add-item']}}]" mat-list-item
         routerLinkActive="active sidebar-item-active">
        <mat-icon color="primary">library_add</mat-icon>
        <span>Add Item</span>
      </a>
      <a [routerLink]="['/profile', {outlets: {'profile-out': ['user-items']}}]" mat-list-item
         routerLinkActive="active sidebar-item-active">
        <mat-icon color="primary">description</mat-icon>
        <span>My Items</span>
      </a>

      <ng-container *ngIf="auth.isAdmin()">
        <span class="nav-spacer"></span>
        <mat-divider></mat-divider>
        <span class="nav-spacer"></span>

        <a [routerLink]="['/profile', {outlets: {'profile-out': ['add-user']}}]" mat-list-item
           routerLinkActive="active sidebar-item-active">
          <mat-icon color="primary">person_add</mat-icon>
          <span>Manage Users</span>
        </a>
        <a [routerLink]="['/profile', {outlets: {'profile-out': ['admin-items']}}]" mat-list-item
           routerLinkActive="active sidebar-item-active">
          <mat-icon color="primary">description</mat-icon>
          <span>Manage Items</span>
        </a>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet name="profile-out"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
