.mat-nav-list {
  padding: 0;
}

.nav-spacer {
  padding: 40px;
}

.mat-nav-list a.active {
  background: #cccccc;
}

.mat-icon {
  margin-right: 5px;
}

.hide-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
