<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a [routerLink]="['/profile', {outlets: {'profile-out': ['user-details']}}]" mat-list-item
         routerLinkActive="active">
        <mat-icon color="primary">person</mat-icon>
        <span>Profile</span>
      </a>
      <a [routerLink]="['/profile', {outlets: {'profile-out': ['add-item']}}]" mat-list-item routerLinkActive="active">
        <mat-icon color="primary">library_add</mat-icon>
        <span>Add Item</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet name="profile-out"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
