mat-sidenav {
  width: 12%;
  min-width: 210px;
  padding: 0;
  background-color: #efefee;
  border-right: 1px solid #999999;
}

.mat-sidenav-container {
  min-height: calc(100vh - 120px);
  height: auto;
  background-color: #ffffff;
}

.mat-sidenav-content {
  padding-right: 20px;
}

.mat-nav-list {
  padding: 0;
}

.mat-nav-list a.active {
  background: #cccccc;
}

.mat-icon {
  margin-right: 5px;
}

.hide-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
