<h1 mat-dialog-title style="padding-bottom: 0 !important; margin-bottom: -5px !important;">{{item.title}}</h1>
<h3 class="mat-h3" style="padding: 0 !important;">{{item.author.firstName}} {{item.author.lastName}}</h3>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <p class="poem-text mat-body-2">{{formatText(item.text)}}</p>
  <mat-divider></mat-divider>
  <p>
    <b>Date added:</b> {{item.createdDate | date}}<br>
    <b>Period of initial publication:</b> {{item.period}}<br>
    <b>Title of source text:</b> {{item.sourceTitle}}<br>
    <b>Publication date of source text:</b> {{item.dateOfPublication | date}}<br>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>close</button>
</div>
