<h1 mat-dialog-title style="padding-bottom: 0 !important; margin-bottom: -5px !important;">{{item.title}}</h1>
<h3 class="mat-h3" style="padding: 0 !important;">{{item.author.firstName}} {{item.author.lastName}}</h3>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <p class="poem-text mat-body-2">{{item.text | formatPoemFromArray}}</p>
  <mat-divider></mat-divider>
  <p class="mat-body-2">
    <strong>Date added:</strong> {{item.createdDate | date}}<br>
    <strong>Period of initial publication:</strong> {{item.period}}<br>
    <strong>Title of source text:</strong> {{item.sourceTitle}}<br>
    <strong>Publication date of source text:</strong> {{item.dateOfPublication | date}}<br>
  </p>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>close</button>
</div>
