<div mat-dialog-content>
  <form [formGroup]="resetForm" style="padding-bottom: 1rem">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field>
        <input [required]="true" formControlName="password" matInput placeholder="new password" type="password">
        <mat-error>
      <span *ngIf="!resetForm.get('password').valid && resetForm.get('password').touched">
        passwords must be at least eight characters long and contain a number and a symbol
      </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [required]="true" formControlName="password1" matInput placeholder="repeat new password" type="password">
        <mat-error>
      <span *ngIf="resetForm.get('password1').errors?.required && resetForm.get('password1').touched">
        you must confirm your password
      </span>
          <span *ngIf="resetForm.get('password1').errors?.MatchPassword && resetForm.get('password1').touched">
        the passwords do not match
      </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="submit()" [disabled]="!resetForm.valid" color="primary" mat-raised-button>submit</button>
  <button color="warn" mat-dialog-close mat-raised-button>close</button>
</div>


