<form [formGroup]="resetForm">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <input [required]="true" formControlName="currentPassword" matInput placeholder="current password"
             type="password">
      <mat-error>
      <span *ngIf="!resetForm.get('currentPassword').valid && resetForm.get('currentPassword').touched">
        you must enter your current password
      </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [required]="true" formControlName="password" matInput placeholder="new password" type="password">
      <mat-error>
      <span *ngIf="!resetForm.get('password').valid && resetForm.get('password').touched">
        passwords must be at least eight characters long and contain a number and a symbol
      </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [required]="true" formControlName="password1" matInput placeholder="repeat new password" type="password">
      <mat-error>
      <span *ngIf="resetForm.get('password1').errors?.required && resetForm.get('password1').touched">
        you must confirm your password
      </span>
        <span *ngIf="resetForm.get('password1').errors?.MatchPassword && resetForm.get('password1').touched">
        the passwords do not match
      </span>
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" style="padding-top: 20px">
    <button (click)="submit()" [disabled]="!resetForm.valid" color="primary" mat-raised-button>submit</button>
    <button color="warn" mat-dialog-close mat-raised-button>close</button>
  </div>
</form>
