/* The light theme is best. */
@import "~@angular/material/theming";

@mixin dark-theme-style($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $text: map-get($foreground, text);
  $card: map-get($background, card);

  /* Customization of the stroked buttons. */
  .stroked-menu {
    background-color: mat-color($accent, 200) !important;
    color: #000000 !important;
    text-transform: uppercase;
    align-items: center;
  }


  /* Style for making table row links obvious. */
  .mat-row:hover {
    background-color: lighten($card, 5);
  }


  /* styling for the item details popup table */
  .details-table tr:nth-child(even) {
    background-color: mat-color($accent, 700);
  }

  .highlight {
    background-color: mat-color($accent, 600) !important;
  }
}
