/* The light theme is default. */
@import "~@angular/material/theming";

@mixin light-theme-style($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $text: map-get($foreground, text);
  $card: map-get($background, card);

  /* Style for making table row links obvious. */
  .mat-row:hover {
    background-color: darken($card, 5);
  }


  /* Customization of the stroked buttons */
  .stroked-menu {
    background-color: darken($card, 5) !important;
    color: $text !important;
    text-transform: uppercase;
    align-items: center;
  }


  /* Customization of the divider. Only applies to the light theme.*/
  .nav-main {
    mat-divider.style-fix {
      border-color: mat-color($accent, 100) !important;
    }
  }


  /* This overrides the color (only on the light theme) so the search bar isn't bright pink */
  .search-toolbar {
    background-color: darken($card, 10) !important;
  }

  .top-menu-big {
    background-color: darken($card, 10) !important;
  }


  .details-table tr:nth-child(even) {
    background-color: mat-color($primary, 50);
  }
}
