table {
  width: 100%;
  padding: 0 5px 0 5px;
}

th {
  font-size: 15pt !important;
}

td {
  font-size: 14pt !important;
}

mat-card {
  position: absolute;
  top: calc(30vh);
  right: calc(44vw);
  justify-content: center;
  align-items: center;
}
