@import "~@angular/material/theming";

@mixin search-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $text: map-get($foreground, text);
  $card: map-get($background, card);

  .search-toolbar {
    background-color: mat-color($accent, 600);
    height: 130px;
    border-bottom: 1px solid mat-color($accent, 100);
  }

  .top-menu-big {
    background-color: mat-color($accent, 600);
    height: 200px;
    border-bottom: 1px solid mat-color($accent, 100);
  }

  .big {
    font-size: 16pt !important;
    color: $text !important;
    width: 30rem;
    margin-top: -50px !important;
  }

  .big-icon {
    font-size: 48pt !important;
    height: 48pt !important;
    width: 48pt !important;
    padding-left: 4rem;
  }

  .nav-spacer {
    flex: 1 1 auto;
  }

  .dummy-card {
    max-width: 30%;
  }

  mat-header-cell {
    font-size: 16pt;
    padding-left: 5px;
  }

  mat-row {
    min-height: 100%;
    align-items: stretch;
    padding: 5px;
  }

  mat-cell {
    flex-grow: 1;
    min-height: 100%;
    padding: 5px;
  }

  .highlight {
    background-color: mat-color($accent, A100);
    border: 1px solid mat-color($accent, 400);
    padding: 2px;
    border-radius: 2px;
  }
}



