<div class="container">
  <div class="search-toolbar" fxLayout="row" fxLayoutAlign="center center"
       fxLayoutAlign.gt-sm="start center">
    <span class="nav-spacer" fxShow.gt-xs></span>
    <form (ngSubmit)="doSearchEveryWhere()" [formGroup]="searchEveryWhereForm">
      <mat-form-field class="big">
        <input formControlName="searchString" matInput placeholder="search all the things">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>to fine tune your results click the advanced search button on the right</mat-hint>
      </mat-form-field>
    </form>
    <button (click)="openAdvancedSearchDialog()" mat-icon-button>
      <mat-icon class="big-icon">list</mat-icon>
    </button>
    <span class="nav-spacer" fxShow.gt-xs></span>
  </div>
  <div>
    <app-item-table [searchString]="searchString"></app-item-table>
    <mat-card *ngIf="loading" class="spinner-card">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </mat-card>
  </div>
</div>
