<div class="container">
  <div class="search-toolbar" fxLayout="row" fxLayoutAlign="center center"
       fxLayoutAlign.gt-sm="start center">
    <span class="nav-spacer" fxShow.gt-xs></span>
    <form (ngSubmit)="doSearchEveryWhere()" [formGroup]="searchEveryWhereForm">
      <mat-form-field class="big">
        <input formControlName="searchString" matInput placeholder="search all the things">
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint>to fine tune your results click the advanced search button on the right</mat-hint>
      </mat-form-field>
    </form>
    <button (click)="openAdvancedSearchDialog()" mat-icon-button>
      <mat-icon class="big-icon">list</mat-icon>
    </button>
    <span class="nav-spacer" fxShow.gt-xs></span>
  </div>
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
    <ng-container cdkColumnDef="category">
      <mat-header-cell *cdkHeaderCellDef fxFlex="5%" mat-sort-header=""> type</mat-header-cell>
      <mat-cell *cdkCellDef="let element" fxFlex="5%">
        <p class="mat-body-2">{{element.category | categoryPipe}} </p>
      </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="author">
      <mat-header-cell *cdkHeaderCellDef fxFlex="10%"> author</mat-header-cell>
      <mat-cell *cdkCellDef="let element" fxFlex="10%">
        <p class="mat-body-2">{{element.firstName}} {{element.lastName}}</p>
      </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="title">
      <mat-header-cell *cdkHeaderCellDef fxFlex="10%"> title</mat-header-cell>
      <mat-cell *cdkCellDef="let element" fxFlex="10%">
        <p class="mat-body-2">
          {{element.category === 'SECT' ? element.parentTitle + " - " + element.title : element.title}}
        </p>
      </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="context">
      <mat-header-cell *cdkHeaderCellDef fxFlex="75%"> context</mat-header-cell>
      <mat-cell *cdkCellDef="let element" [innerHTML]="getContext(element.context)" fxFlex="75%"></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" align="left" showFirstLastButtons></mat-paginator>
</div>
