<div mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <input formControlName="username" matInput placeholder="username">
      <mat-error>
        <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
          You must enter a valid username.
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="password" type="password">
      <mat-error>
        <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          You must enter a valid password.
        </span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="submit()">Submit</button>
  <button mat-raised-button color="primary" mat-dialog-close>close</button>
</div>
