/* This CSS contains the global styles and dynamic styling definitions.
 *
 * @author Josh Harkema
 */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import "app/dark-theme";
@import "app/light-theme";
@import "app/core/footer/footer.component";
@import "app/modules/home/home.component";
@import "app/modules/search/search.component";
@import "app/shared/components/card-book/card-book.component";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


@include mat-core();

$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink);
$light-warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme);
  @include light-theme-style($light-theme);
  @include footer-component-theme($light-theme);
  @include home-component-theme($light-theme);
  @include search-component-theme($light-theme);
  @include card-book-component-theme($light-theme);
}

$dark-primary: mat-palette($mat-pink);
$dark-accent: mat-palette($mat-blue-gray);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include dark-theme-style($dark-theme);
  @include footer-component-theme($dark-theme);
  @include home-component-theme($dark-theme);
  @include search-component-theme($dark-theme);
  @include card-book-component-theme($dark-theme);
}

$custom-typography: mat-typography-config(
  $font-family: 'RobotoSlab',
  $body-1: mat-typography-level(14pt, 18pt, normal),
  $body-2: mat-typography-level(14pt, 18pt, normal)
);


@include angular-material-typography($custom-typography);


/* Edges are for losers. */
html {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

td {
  font-size: 12pt !important;
}

/* Styling for nav links */
.nav-item-link {
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
}


/* Override font size in drop down menus. */
.mat-menu-item {
  font-size: 12pt !important;
}


/* Adds padding to p elements in cards */
.mat-card-content p {
  padding: 1rem 1rem 0 1rem;
}


/* Override the default font for non-lead text. */
.mat-body-2 {
  font-family: 'Roboto', sans-serif !important;
}


/* This allows the poem text to automatically wrap on \n newlines. */
.poem-text {
  white-space: pre-wrap;
  padding-left: 5px;
}


/* Override the button fonts / colors. */
.mat-raised-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.mat-stroked-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.mat-flat-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.mat-button {
  font-family: 'Roboto', sans-serif;
}


/* add extra padding to the mat-card-actions row */
mat-card-actions {
  padding-left: 7px !important;
}


/* Add padding to slide toggler. */
mat-slide-toggle {
  padding-right: 5px;
}


.mat-tooltip {
  font-size: 12pt !important;
}

mat-form-field {
  font-size: 15pt !important;
}
