/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

$custom-typography: mat-typography-config(
  $font-family: 'Roboto Slab'
);

@include angular-material-typography($custom-typography);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

html {
  height: 100%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 100%;
}

// This deals with spacing for the footer block.
body::after {
  content: '';
  display: block;
  height: 60px;
}

/* Custom Typographic styles are here. */

.display-text {
  font-size: 3.5rem;
  font-weight: lighter;
  font-family: 'Roboto Slab', serif;
}

.lead {
  font-family: 'Roboto', sans-serif;
  font-size: 1.171875rem;
  font-weight: 300;
  padding: 0 2rem;
}

.mat-card-content p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 1rem 1rem 0 1rem;
}

.mat-raised-button {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.mat-flat-button {
  font-family: 'Roboto', sans-serif;
}

.mat-button {
  font-family: 'Roboto', sans-serif;
}

.item-add-textbox {
  min-width: 70rem !important;
  @include sm() {
    min-width: 75% !important;
  }

  @include lg {
    min-width: 69% !important;
  }
}

//
//.cdk-global-scrollblock {
//  position: initial;
//  width: initial;
//  overflow: hidden;
//}

// Footer styles are global styles for a good reason.
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  height: 60px;

  @include md() {
    line-height: 60px;
  }

  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee !important;
}

// Stealing from Boot Strap.
.text-muted {
  color: #95a5a6 !important;
  font-family: 'Roboto', sans-serif;
}

.text-muted a {
  color: #0d47a1 !important;
}

// For pre-wrapped text.
.hanging-indent {
  text-indent: 3em hanging;
}
