<mat-toolbar class="action-bar">
  <mat-toolbar-row fxLayout="row" fxLayoutGap="10px">
    <button (click)="parent.toggleSideNav()" color="primary" mat-icon-button matTooltip="toggle sidebar">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-horizontal-stepper #stepper [linear]="true">
  <mat-step [stepControl]="itemSelectForm">
    <div *ngIf="!selectedType">
      <ng-template matStepLabel>Select an item type</ng-template>
    </div>
    <div *ngIf="selectedType">
      <ng-template matStepLabel>Selected Type: {{selectedType}}</ng-template>
    </div>
    <form [formGroup]="itemSelectForm">
      <mat-form-field>
        <mat-select (selectionChange)="selectType()" [required]="true" formControlName="selectedType"
                    placeholder="item type">
          <mat-option *ngFor="let type of itemTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!itemSelectForm.get('selectedType').valid && itemSelectForm.get('selectedType').touched">
            You must select a type to continue.
          </span>
        </mat-error>
      </mat-form-field>
    </form>
    <form *ngIf="selectedType === 'Chapter / Section' && !selectedBook" [formGroup]="sectionParentForm">
      <div fxLayout="row">
        <mat-form-field>
          <input [required]="true" formControlName="title" matInput placeholder="title of source book">
          <mat-error>
          <span *ngIf="!sectionParentForm.get('title').valid && sectionParentForm.get('title').touched">
            Sections / Chapters require a source book.
          </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" style="padding-top: 10px">
        <button (click)="searchBook()" [disabled]="!sectionParentForm.valid" color="primary" mat-raised-button>
          Search
        </button>
      </div>
    </form>
    <div *ngIf="selectedBook">
      <h3 class="mat-h3"><b>Selected Book: </b> {{selectedBook.title}}</h3>
      <div fxLayout="row" style="padding-top: 10px">
        <button (click)="resetBook()" color="primary" mat-raised-button>Reset Book</button>
      </div>
    </div>
  </mat-step>
  <mat-step [completed]="authorSelected">
    <div *ngIf="author">
      <div fxLayout="row">
        <ng-template matStepLabel>Selected Author: {{author.firstName}} {{author.lastName}}</ng-template>
        <h3 class="mat-h3"><b>Selected Author:</b> {{author.firstName}} {{author.lastName}}</h3>
      </div>
      <div fxLayout="row" style="padding-top: 10px">
        <button (click)="resetAuthor()" color="primary" mat-raised-button>change author</button>
      </div>
    </div>
    <form (ngSubmit)="searchAuthor()" *ngIf="!author" [formGroup]="authorForm">
      <ng-template matStepLabel>Select author</ng-template>
      <div fxLayout="row">
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="first name">
          <mat-error>
          <span *ngIf="!authorForm.get('firstName').valid && authorForm.get('firstName').touched">
            You must enter a valid first name.
          </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field>
          <input [required]="true" formControlName="lastName" matInput placeholder="last name">
          <mat-error>
          <span *ngIf="!authorForm.get('lastName').valid && authorForm.get('lastName').touched">
            You must enter a valid last name.
          </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" style="padding-top: 10px">
        <button (click)="searchAuthor()" [disabled]="!authorForm.valid" color="primary" mat-raised-button
                style="margin-right: 5px">
          Search
        </button>
        <button [disabled]="!author" color="primary" mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="itemDetailsForm">
    <ng-template matStepLabel>Enter source details</ng-template>
    <form [formGroup]="itemDetailsForm">
      <div fxLayout="row">
        <mat-form-field>
          <input (input)="updateAutoComplete()" [matAutocomplete]="autoGroup" [required]="selectedType === 'Poem'"
                 formControlName="sourceTitle" matInput placeholder="title of source text">
          <mat-autocomplete #autoGroup (optionSelected)="autoFillForm($event)">
            <mat-option *ngFor="let book of autoComplete" [value]="book">
              {{book.title}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
          <span
            *ngIf="!itemDetailsForm.get('sourceTitle').valid && itemDetailsForm.get('sourceTitle').touched">
            You must enter a valid source title.
          </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [required]="true" formControlName="placeOfPublication" matInput placeholder="place of publication">
          <mat-error>
          <span
            *ngIf="!itemDetailsForm.get('placeOfPublication').valid && itemDetailsForm.get('placeOfPublication').touched">
            You must enter a valid place of publication.
          </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field>
          <input [required]="true" formControlName="publisher" matInput placeholder="publisher">
          <mat-error>
          <span *ngIf="!itemDetailsForm.get('publisher').valid && itemDetailsForm.get('publisher').touched">
            You must enter a valid publisher.
          </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [required]="true" formControlName="dateOfPublication" matInput
                 placeholder="year of publication (source)"
                 type="number">
          <mat-error>
          <span
            *ngIf="!itemDetailsForm.get('dateOfPublication').valid && itemDetailsForm.get('dateOfPublication').touched">
            You must enter a valid dateOfPublication.
          </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field>
          <mat-select [required]="true" formControlName="period" placeholder="period of initial publication">
            <mat-option *ngFor="let period of periods" [value]="period">{{period}}</mat-option>
          </mat-select>
          <mat-error>
          <span *ngIf="!itemDetailsForm.get('period').valid && itemDetailsForm.get('period').touched">
            You must enter a valid period of initial publication.
          </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="url" matInput placeholder="url">
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field>
          <input formControlName="dateOfAccess" matInput placeholder="date of access" type="date">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="journalName" matInput placeholder="journal name">
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field>
          <input formControlName="journalVolume" matInput placeholder="journal volume">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="journalIssue" matInput placeholder="journal issue">
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field>
          <input formControlName="edition" matInput placeholder="edition">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="DOI" matInput placeholder="DOI">
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field>
          <input formControlName="pageRangeBegin" matInput placeholder="page number start" type="number">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="pageRangeEnd" matInput placeholder="page number end" type="number">
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-checkbox color="primary" formControlName="isPublicDomain">Public domain?</mat-checkbox>
      </div>
      <div fxLayout="row" style="padding-top: 10px">
        <button [disabled]="itemDetailsForm.invalid" color="primary" mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enter item contents</ng-template>
    <div *ngIf="selectedType === 'Poem'">
      <form [formGroup]="poemForm">
        <div fxLayout="row">
          <mat-form-field>
            <input formControlName="title" matInput placeholder="title">
          </mat-form-field>
          <mat-form-field>
            <mat-select [required]="true" formControlName="form" placeholder="poetic form">
              <mat-option *ngFor="let form of poemForms | keyvalue" [value]="form.value">{{form.key}}</mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!poemForm.get('form').valid && poemForm.get('form').touched">
                You must enter the poem's form.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex="0 0 calc(70% + 10px)">
            <textarea [cdkAutosizeMinRows]="14" [required]="true" cdkTextareaAutosize formControlName="text"
                      matInput placeholder="the poem's text"></textarea>
            <mat-error>
              <span *ngIf="!poemForm.get('text').valid && poemForm.get('text').touched">
                You must enter the poem's text.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-checkbox color="primary" formControlName="finished">
            By checking this box you confirm the information you have entered is correct.
          </mat-checkbox>
        </div>
        <div fxLayout="row" style="padding-top: 10px">
          <button (click)="submitPoem()" [disabled]="poemForm.invalid" color="primary" mat-raised-button type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="selectedType === 'Book'">
      <form [formGroup]="bookForm">
        <div fxLayout="row">
          <mat-form-field>
            <input [required]="true" formControlName="title" matInput placeholder="title">
            <mat-error>
              <span *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched">
                You must enter a valid title.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select [required]="true" formControlName="type" placeholder="book type">
              <mat-option *ngFor="let type of bookTypes | keyvalue" [value]="type.value">{{type.key}}</mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!bookForm.get('type').valid && bookForm.get('type').touched">
                You must select a valid book type.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-checkbox color="primary" formControlName="finished">
            By checking this box you confirm the information you have entered is correct.
          </mat-checkbox>
        </div>
        <div fxLayout="row" style="padding-top: 10px">
          <button (click)="submitBook()" [disabled]="bookForm.invalid" color="primary" mat-raised-button type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="selectedType === 'Short Story'">
      <form [formGroup]="shortStoryForm">
        <div fxLayout="row">
          <mat-form-field>
            <input [required]="true" formControlName="title" matInput placeholder="title">
            <mat-error>
              <span *ngIf="!shortStoryForm.get('title').valid && shortStoryForm.get('title').touched">
                You must enter a valid title.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFlex="0 0 calc(70% + 10px)">
            <textarea [cdkAutosizeMinRows]="20" [required]="true" cdkTextareaAutosize formControlName="text" matInput
                      placeholder="the story's text"></textarea>
            <mat-error>
              <span *ngIf="!shortStoryForm.get('text').valid && shortStoryForm.get('text').touched">
                You must enter the story's text.
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-checkbox color="primary" formControlName="finished">
            By checking this box you confirm the information you have entered is correct.
          </mat-checkbox>
        </div>
        <div fxLayout="row" style="padding-top: 10px">
          <button (click)="submitShortStory()" [disabled]="shortStoryForm.invalid" color="primary" mat-raised-button
                  type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </mat-step>
</mat-horizontal-stepper>
