.mat-form-field {
  margin: 5px;
}

.item-add-form-container {
  display: flex;
  flex-direction: column;
}

.mat-checkbox {
  padding: 5px;
  margin-bottom: 5px;
}

.button-row {
  padding: 5px;
}

.button-row .mat-raised-button {
  margin-right: 5px;
}

.author-display {
  padding: 5px;
}
