.mat-form-field {
  margin: 5px;
  width: 35%;
  min-width: 250px;
}

.item-add-form-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.mat-checkbox {
  margin: 5px;
}

.button-row {
  padding-top: 1rem;
}

.button-row .mat-raised-button {
  margin-right: 5px;
}

.author-display {
  padding: 5px;
}
