<div>
  <mat-card *ngIf="loading">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </mat-card>
</div>
<div style="padding: 10px">
  <button mat-raised-button color="primary" (click)="resetPassword()">change password</button>
</div>
<mat-list>
  <mat-list-item>
    <p class="mat-body-1"><strong>Username:</strong> {{auth.user.username}}</p>
  </mat-list-item>
  <mat-list-item>
    <p class="mat-body-1"><strong>Email:</strong> {{auth.user.email}}</p>
  </mat-list-item>
</mat-list>
