<mat-toolbar class="action-bar">
  <mat-toolbar-row fxLayout="row" fxLayoutGap="10px">
    <button mat-icon-button matTooltip="toggle sidebar" color="primary" (click)="parent.toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-stroked-button color="accent" (click)="resetPassword()">change password</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <mat-list-item>
    <p class="mat-body-1"><strong>Username:</strong> {{auth.user.username}}</p>
  </mat-list-item>
  <mat-list-item>
    <p class="mat-body-1"><strong>Email:</strong> {{auth.user.email}}</p>
  </mat-list-item>
</mat-list>
