<div>
  <mat-form-field *ngIf="isFilter">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="filter item list">
  </mat-form-field>
  <table [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> #</th>
      <td *matCellDef="let element" mat-cell>{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> title</th>
      <td *matCellDef="let element" mat-cell>
        {{element.category === 'SECT' ? element.parentTitle + " - " + element.title : element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> category</th>
      <td *matCellDef="let element" mat-cell>{{getCategoryPretty(element.category) | titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="author.firstName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> first name</th>
      <td *matCellDef="let element" mat-cell>{{element.author.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="author.lastName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> last name</th>
      <td *matCellDef="let element" mat-cell>{{element.author.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> period</th>
      <td *matCellDef="let element" mat-cell>{{element.period}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> form / genre</th>
      <td *matCellDef="let element" mat-cell>{{element.type ? element.type : element.form | titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="deleteItem(element.category, element.id)"
                *ngIf="auth.isAdmin() || (element.createdBy == auth.user.username && !element.confirmation.confirmed)"
                appClickStopPropagation
                color="primary" mat-icon-button
                matTooltip="delete item">
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="itemDetails(element)" appClickStopPropagation color="primary" mat-icon-button
                matTooltip="item details">
          <mat-icon>assignment</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="showItem(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" align="left" showFirstLastButtons></mat-paginator>
</div>
